h2 {
  color: blue;
}

.boxmodel {
  display: inline-block;
  /* change content width and height of div container */
  width: 33px;
  height: 55px;
  /* content -> padding -> border -> margin */
  /* border of div container */
  border: 5px solid red;
  /* padding: 20px; -> equidistant padding */
  /* padding: 5px 20px 35px 50px; -> top right bottom left */
  padding: 5px 20px 5px 20px;
  /* margin: allows us to create space outside of the border */
  /* margin: 20px; -> equidistant margin **/
  /* margin: 0px 20px 0px 20px; -> top right bottom left */
  /* margin: 0px 20px; -> top/bottom left/right */
  margin: 0px 20px;
}

p {
  font-size: 10px;
}

span {
  /* em means x-times the value of the container element, 
  here: the p tag with font-size of 20px */
  font-size: 2em;
}

.rem-demo {
  /* rem means x-times the value of the root element, 
  i.e. the default value of the <html> container element, 
  e.g. if default font-size is 12px, then 2rem = 24px*/
  font-size: 2rem;
}
