/* stndard CSS format:
  html-selector {
    property: value;
  } 
*/

/* CSS: cascading stylesheet;
  styles from top to bottom;
  overwrites rules that were defined further up with ones that were
  defined further down if they target the same selector
*/

/* https://css-tricks.com/almanac/ */

* {
  text-align: right;
}

body {
  background-image: url(../assets/something1.jpg);
  background-size: cover;
}

h2,
p {
  color: #aa5585;
  text-align: center;
  border: 3px dashed rgba(205, 136, 175, 0.3);
  background-color: rgba(205, 136, 175, 0.05);
  cursor: grab;
}

/* only target p elements inside of h2 elements
<h2>
  <div>
    <p></p>
  </div>
</h2>
*/
/* h2 p {
  color: #aa5585;
  text-align: center;
  border: 3px dashed rgba(205, 136, 175, 0.3);
  background-color: rgba(205, 136, 175, 0.05);
  cursor: grab;
} */

/* only target p elements that have a direct parent of h2 elements
<h2>
  <p></p>
</h2>
*/
/* h2 > p {
  color: #aa5585;
  text-align: center;
  border: 3px dashed rgba(205, 136, 175, 0.3);
  background-color: rgba(205, 136, 175, 0.05);
  cursor: grab;
} */

/* only target p elements that come directly after h2 elements
<h2></h2>
<p></p>
*/
/* h2 + p {
  color: #aa5585;
  text-align: center;
  border: 3px dashed rgba(205, 136, 175, 0.3);
  background-color: rgba(205, 136, 175, 0.05);
  cursor: grab;
} */

/* h2 + p:hover {
  color: #aa5585;
  text-align: center;
  border: 3px dashed rgba(205, 136, 175, 0.3);
  background-color: rgba(205, 136, 175, 0.05);
  cursor: grab;
} */

/* important overwrites any of the cascading style-sheet rules */
/* p {
  color: pink !important;
} */

p {
  color: rgba(205, 136, 175, 0.9);
  text-decoration: underline;
  text-transform: capitalize;
  line-height: 30px;
  font-style: italic;
  font-weight: bold;
  font-size: 150%;
  font-family: 'Lato', sans-serif;
}

img {
  float: left;
}

li {
  text-align: left;
}

ul {
  list-style: none;
  display: inline;

  /* margin-left: 10px; */
  /* display: inline-block; */
}

ul li::before {
  /* The ::before and ::after pseudo-elements in CSS allows you to 
  insert content onto a page without it needing to be in the HTML.  */
  content: '🌸';
  display: inline;
  top: 0.1rem;
  margin-right: 0.2rem;
  margin-left: 7px;
}

.active {
  text-align: start;
}

.webtext:last-child {
  border: 1px dashed rgba(68, 0, 38, 0.6);
  background-color: rgba(205, 136, 175, 0.5);
}
/* .webtext:first-child {
  border: 1px dashed rgba(68, 0, 38, 0.6);
  background-color: rgba(205, 136, 175, 0.5);
} */

#div1 {
  background: rgba(255, 255, 255, 0.6);
}

#div2 {
  background: rgba(255, 255, 255, 0.6);
}
