.container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

/* div selector isn't called, because .container class selector has
higher specificity */
div {
  justify-content: flex-end;
}

p {
  color: green;
}
